.login-form {
  margin-top: 60px;
}

.form-label {
  margin-bottom: 0;
}

h3 {
  margin-top: 20px;
}

.spinners {
  margin-top: 20%;
}

.logout {
  float: right;
}

.details {
  margin-left: 10px;
}

#issues{
  text-align: center;
}

.tracker-label {
  float: left;
  margin-top: 4px;
  text-align: right;
  margin-right: 5px;
  font-weight: bold;
  width: 15%;
}

.tracker-input {
  width: 30%;
  height: 60%;
}

.required {
  color: red;
}

.comment {
  width: 50%;
}

#overtime {
  margin-top: 10px;
}

#tracker-submit {
  margin-left: 20px;
}

.comment-input {
  width: 70%;
}

.comment-date {
  margin-left: 10px;
}